*{
    margin: 0px;
    padding: 0px;
}
body{
   background-color: #06595a;
   text-align: center;
}
.container{
  height: 70vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #b83834;
    background-color: rgb(163, 158, 133);
}
#rest-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffff;
    border-radius: 1rem;
    border: none;
}
h1{
    padding-top: 30px;
    font-size: 80px;
    
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffff;
    border-radius: 1rem;
    border: none;
    width: 15%;
}
#msg{
    color:  rgb(163, 158, 133);
    font-size: 6vmin;
    padding-bottom: 20px;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}